.HeaderContainer {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(40px, auto);
  margin: 0 1rem;
}

.Header {
  padding: 0.5rem;
  margin: 1rem 0 0;
  font-size: 2em;
  font-weight: bold;
  color: var(--header-font-color);
  text-align: center;
  text-shadow: hsl(0deg 0% 0%) 0 0 5px;
  cursor: pointer;
  background: var(--header-color);
  box-shadow: var(--box-shadow);
}

.Header:hover, .Header:focus {
  filter: brightness(95%);
  box-shadow: var(--box-shadow-hover);
}

.Navigation > div {
  width: 100%;
}

.Navigation ul {
  display: flex;
  width: 100%;
  padding: 0;
  margin: 0;
}

.Navigation ul li {
  box-sizing: border-box;
  width: 100%;
  min-width: 248px;
  text-align: center;
  list-style: none;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
}

.Navigation ul li a {
  display: block;
  padding: 16px;
  text-decoration: none;
}

.SocialLinks {
  display: grid;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.3rem;
  margin-top: 1rem;
  background-color: var(--background-color);
}

@media (max-width: 843px) {
  .Navigation ul {
    display: grid;
  }

  .Navigation ul li {
    min-width: 0;
  }
}
