.Masonry {
  display: flex;
  width: auto;
  margin-left: -8px;
}

.MasonryColumn {
  padding-left: 8px; /* gutter size */
  background-clip: padding-box;
}

.MasonryColumn > div {
  margin-bottom: 8px;
  background: hsl(0deg 0% 50%);
}
