.DirectoryItemContainer {
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    justify-content: center;
    min-width: 30%;
    height: 240px;
    margin: 0 7.5px 15px;
    overflow: hidden;
    border: 1px solid hsl(0deg 0% 0%);
}

.DirectoryItemContainer:hover, .DirectoryItemContainer:focus {
    cursor: pointer;
}

@media screen and (prefers-reduced-motion: reduce) {
    .DirectoryItemContainer:hover .BackgroundImage, .DirectoryItemContainer:focus .BackgroundImage {
        transition: none;
        transform: scale(1.1);
    }
}

.DirectoryItemContainer:hover .BackgroundImage, .DirectoryItemContainer:focus .BackgroundImage {
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
    transform: scale(1.1);
}

.DirectoryItemContainer:hover .DirectoryItemBody, .DirectoryItemContainer:focus .DirectoryItemBody {
    opacity: 90%;
}

.DirectoryItemContainer.large {
    height: 380px;
}

.DirectoryItemContainer:first-child {
    margin-right: 7.5px;
}

.DirectoryItemContainer:last-child {
    margin-left: 7.5px;
}

.DirectoryItemContainer .BackgroundImage {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.DirectoryItemContainer .DirectoryItemBody {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90px;
    padding: 0 25px;
    background-color: hsl(0deg 0% 100%);
    border: 1px solid hsl(0deg 0% 0%);
    opacity: 70%;
}

.DirectoryItemContainer .DirectoryItemBody h2 {
    margin: 0 6px;
    font-size: 22px;
    font-weight: bold;
    color: hsl(0deg 0% 29%);
}

.DirectoryItemContainer .DirectoryItemBody p {
    font-size: 16px;
    font-weight: lighter;
}

@media screen and (max-width: 800px) {
    .DirectoryItemContainer {
        height: 200px;
    }
}
