.HabitContainer {
    display: grid;
    gap: 16px;
}

.HabitItemContainer {
    padding: 8px 8px 2px;
    border-bottom: 1px solid hsl(0deg 0% 0%);
}

.HabitDueContainer {
    cursor: pointer;
}

.HabitDueContainer:hover, .HabitDueContainer:focus {
    background: hsl(0deg 0% 83%);
}
