.ContentContainer {
  display: grid;
  grid-template-columns: auto;
  max-width: 1000px;
  margin: 0 auto;
}

.HomeText {
  text-align: center;
}

.Logos {
  display: flex;
  flex-wrap: wrap;
  gap: var(--large-space);
  justify-content: center;
  margin: var(--large-space);
}

.LogoContainer {
  padding: var(--small-space);
  backdrop-filter: blur( 20px );
  background-color: rgba(255 255 255 / 65%);
  border-radius: 10px;
  box-shadow: 0 3px 3px rgba(0 0 0 / 80%);
}

.LogoContainer:hover, .LogoContainer:focus {
  box-shadow: 0 3px 3px rgba(0 0 0 / 20%);
}
